@use 'base';

Header {
    background-color: base.$dark-background;
    height: 160px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: [whole] 100%;
    grid-template-rows: [logo] 1fr [navbar] 1fr;
    row-gap: 8px;
    
    nav{
        display: flex;
        width: 90%;
        height: 90%;
        grid-column: whole;
        grid-row: navbar;
        justify-self: center;
        align-self: center;
        justify-content: center;
        
        button {
            width: 18%;
            height: 70%;
            background-color: base.$dark-background;
            border: none;
            margin-left: 8px;
            justify-self: center;
            color: base.$green-highlight;
            font-size: 27px;
            font-weight: bold;
        }
        button:hover {
            border: solid 3px;
            border-color: base.$green-highlight;
        }
    }
}

h1 {
    grid-column: whole;
    grid-row: logo;
    justify-self: center;
    margin: 0px;
    padding: 0px;
    color: base.$green-highlight;
    font-size: 60px;
}