@use 'base';

#fullArticle {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
    text-align: justify;
    display: flex;
    flex-direction: column;

    img {
        width: 70%;
        align-self: center;
    }

}

